<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="de.joesch_it.chillweather">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.location.gps"/>

    <application
        android:name=".helper.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/WeHaveAToolbarAndNoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.PermissionCheckActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos”
                https://developer.android.com/training/app-indexing/deep-linking.html
                -->
                <data
                    android:host="joesch-it.de"
                    android:pathPrefix="/"
                    android:scheme="https"
                    />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data
                    android:host="joesch-it"
                    android:scheme="example"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HourlyForecastActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AboutTheme">
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme">
        </activity>

        <receiver android:name=".receiver.ChillWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_DELETED"/>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="de.joesch_it.chillweather.CHILL_WIDGET_UPDATE2"/>
            </intent-filter>
            <intent-filter>
                <action android:name="de.joesch_it.chillweather.CHILL_WIDGET_BUTTON"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/chill_weather_widget_info"/>
        </receiver>

        <receiver android:name=".receiver.BigChillWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="CLOCK_TICK" />
            </intent-filter>
            <intent-filter>
                <action android:name="JOB_CLOCK_TICK" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.os.action.DEVICE_IDLE_MODE_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_DREAMING_STOPPED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_DELETED"/>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="de.joesch_it.chillweather.BIG_CHILL_WIDGET_BUTTON"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/chill_weather_widget_big_info2"/>
        </receiver>

        <service
            android:name=".service.BigWidgetRepeatingJob"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <service android:name=".service.BigWidgetBackgroundService" />


    </application>

</manifest>